@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

.display-1 {
  font-family: "Neuville-Bold", sans-serif;
}
.home-section-row {
  height: calc(90vh / 2);
}
.display-5 {
  letter-spacing: 5px;
}

// media queries
@include media-breakpoint-down(xxl) {
  //green
}
@include media-breakpoint-down(xl) {
  //pink
}
@include media-breakpoint-down(lg) {
  //orange
  .display-5 {
    font-size: 2.5rem;
  }
}
@include media-breakpoint-down(md) {
  //yellow
}
@include media-breakpoint-down(sm) {
  //lightblue
}
