.home-section-row {
  height: calc(90vh / 2);
}

.colourChangerBox {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.down-enter-active {
  animation: 1.75s down-enter;
}
.down-leave-active {
  animation: 1.75s down-leave;
}

@keyframes down-enter {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(100%);
  }
}

@keyframes down-leave {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(100%);
  }
}
