
// .nav-item,
// .nav-link,
// .fa-exchange-alt {
//     color: $secondary-color;
// }
// .nav-item:hover,
// .nav-link:hover,
// .fa-exchange-alt:hover {
//     cursor: pointer;
//     color: darken($secondary-color, 15%);
//     background-color: lighten($primary-color, 35%);
// }

body {
    background-color: yellow;
}


