.navbar-toggler {
  background-color: transparent;
}
.fa-exchange-alt {
  color: $primaryColor;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.fa-exchange-alt:hover {
  transform: scale(1.2);
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .show > .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: $primaryColor;
}

a {
  position: relative;
  color: $primaryColor;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 20;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #f6f6f6;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
