.portfolio-container p {
  display: inline;
}

[data-filter] {
  display: inline-block;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.25);
  color: $white;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  text-transform: capitalize;
  transition: 0.3s;
}
[data-filter]:hover {
  background: rgba(255, 255, 255, 0.5);
}

[data-tags] {
  min-width: 250px;
  text-align: center;
  line-height: 100px;
  display: inline-block;
  background: olivedrab;
  color: darkred;
  margin: 1rem 1rem 1rem 0;
  border-radius: 5px;
}
