section {
  height: 90vh;
}
.containerHeadline {
  color: $primaryColor;
  font-family: "Neuville-Bold", sans-serif;
  text-transform: uppercase;
  position: relative;
}
h3.containerHeadline:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background: $white;
}
.imageContainer {
  width: 300px;
  box-shadow: 0 8px 27px 0 rgba(18, 18, 18, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px 40px;
}
.imageContainer img {
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  border-radius: 100px 40px;
}
