$primaryColor: rgb(255, 0, 70);
$backgroundColor: rgb(40, 41, 43);
$black: rgb(18, 18, 18);
$white: rgb(246, 246, 246);

@font-face {
  font-family: "Neuville-Bold";
  src: url("../assets/fonts/Neuville-Bold.woff"),
    url("../assets/fonts/Neuville-Bold.woff2");
}

@font-face {
  font-family: "Neuville-Light";
  src: url("../assets/fonts/Neuville-Light.woff"),
    url("../assets/fonts/Neuville-Light.woff2");
}

body {
  background-color: $backgroundColor;
  color: $primaryColor;
  font-family: "Neuville-Light", sans-serif;
  font-size: 18px;
}
h1 {
  font-family: "Neuville-Bold", sans-serif;
  font-size: 8rem;
  letter-spacing: -5px;
}
h2,
h3,
h4 {
  letter-spacing: 5px;
}
h3 {
  font-size: 3rem;
}
p {
  color: $white;
}

@import "navbar";
@import "home";
@import "profile";
@import "portfolio";
@import "contact";

// media queries

// @include media-breakpoint-down(xxl) {
//   body {
//     background-color: green;
//   }
// }
// @include media-breakpoint-down(xl) {
//   body {
//     background-color: pink;
//   }
// }
// @include media-breakpoint-down(lg) {
//   body {
//     background-color: orange;
//   }
// }
// @include media-breakpoint-down(md) {
//   body {
//     background-color: yellow;
//   }
// }
// @include media-breakpoint-down(sm) {
//   body {
//     background-color: lightskyblue;
//   }
// }
// TEMPLATE
// @include media-breakpoint-down(xxl) {
//   //green
// }
// @include media-breakpoint-down(xl) {
//  //pink
// }
// @include media-breakpoint-down(lg) {
//  //orange
// }
// @include media-breakpoint-down(md) {
//  //yellow
// }
// @include media-breakpoint-down(sm) {
//  //lightblue
// }
