@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

$primaryColor: rgb(255, 0, 70);
$backgroundColor: rgb(40, 41, 43);
$black: rgb(18, 18, 18);
$white: rgb(246, 246, 246);

@font-face {
  font-family: "Neuville-Bold";
  // src: url("../assets/fonts/Neuville-Bold.woff"),
  // url("../assets/fonts/Neuville-Bold.woff2");
  unicode-range: U+000-5FF;
  src: local("Custom Font"),
    url("../assets/fonts/Neuville-Bold.woff2") format("woff2"),
    url("../assets/fonts/Neuville-Bold.woff") format("woff");
}

@font-face {
  font-family: "Neuville-Light";
  // src: url("../assets/fonts/Neuville-Light.woff"),
  // url("../assets/fonts/Neuville-Light.woff2");
  unicode-range: U+000-5FF;
  src: local("Custom Font"),
    url("../assets/fonts/Neuville-Light.woff2") format("woff2"),
    url("../assets/fonts/Neuville-Light.woff") format("woff");
}
@font-face {
  font-family: "Custom Font";
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Custom Font"), url("/fonts/custom-font.woff2") format("woff2"),
    url("/fonts/custom-font.woff") format("woff");
}

body {
  background-color: $backgroundColor;
  color: $primaryColor;
  font-family: "Neuville-Light", sans-serif;
  font-size: 18px;
}
h1 {
  font-family: "Neuville-Bold", sans-serif;
  font-size: 8rem;
  letter-spacing: -5px;
}
h2,
h3,
h4 {
  letter-spacing: 5px;
}
h3 {
  font-size: 3rem;
}
p {
  color: $white;
}

//-----------------------------------
// media queries
@include media-breakpoint-down(lg) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
@include media-breakpoint-down(md) {
  h2 {
    font-size: 2rem;
  }
}
@include media-breakpoint-down(sm) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2.7rem;
  }
  .home-section-row {
    height: calc(80vh / 2);
  }
}

@import "navbar";
@import "home";
@import "profile";
@import "portfolio";
@import "contact";
