@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

// @import "setup";
@import "navbar";
@import "home";

@font-face {
  font-family: "Neuville-Bold";
  src: url("../assets/fonts/Neuville-Bold.woff"),
    url("../assets/fonts/Neuville-Bold.woff2");
}

@font-face {
  font-family: "Neuville-Light";
  src: url("../assets/fonts/Neuville-Light.woff"),
    url("../assets/fonts/Neuville-Light.woff2");
}

$primary-color: rgb(40, 41, 43);
$secondary-color: rgb(255, 0, 70);

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: "Neuville-Light", sans-serif;
  font-size: $font-size-base;
}

// media queries

@include media-breakpoint-down(xxl) {
  body {
    background-color: green;
  }
}
@include media-breakpoint-down(xl) {
  body {
    background-color: pink;
  }
}
@include media-breakpoint-down(lg) {
  body {
    background-color: orange;
  }
}
@include media-breakpoint-down(md) {
  body {
    background-color: yellow;
  }
}
@include media-breakpoint-down(sm) {
  body {
    background-color: lightskyblue;
  }
}
// TEMPLATE
// @include media-breakpoint-down(xxl) {
//   //green
// }
// @include media-breakpoint-down(xl) {
//  //pink
// }
// @include media-breakpoint-down(lg) {
//  //orange
// }
// @include media-breakpoint-down(md) {
//  //yellow
// }
// @include media-breakpoint-down(sm) {
//  //lightblue
// }
