/*  */
/*media query  */
@media (max-width: 1220px) {
  .wrapper {
    max-width: 1200px;
  }
  .section .artHalfCircle {
    width: 180px;
    height: 180px;
    border-radius: 200px 0 0 0;
  }
  .landingGrid {
    height: 500px;
    width: 840px;
  }
  .landingGridOne {
    top: 30px;
    left: 90px;
  }
  .landingGridTwo {
    top: 60px;
    left: 130px;
  }
  .landingGridThree h2 {
    font-size: 1.7rem;
  }
  .landingDots {
    height: 420px;
  }
  .landingPink {
    height: 400px;
    width: 800px;
  }
  .landingOrange {
    height: 300px;
    width: 450px;
  }
  .aboutGridContainer {
    grid-template-rows: 0.3fr 0.2fr 0.1fr 1.1fr;
    gap: 10px 40px;
  }
  .contactGridContainer {
    grid-template-rows: 0.6fr 1.5fr 4.5fr 0.2fr;
  }
  .contactInfo {
    grid-area: 3/3/5/5;
  }
  .contactForm h3 {
    padding-top: 20px;
  }
  input[type="submit"] {
    margin-top: 0px;
  }
}
