@font-face {
  font-family: "Neuville-Bold";
  src: url("../assets/fonts/Neuville-Bold.woff"), url("../assets/fonts/Neuville-Bold.woff2");
}

@font-face {
  font-family: "Neuville-Light";
  src: url("../assets/fonts/Neuville-Light.woff"), url("../assets/fonts/Neuville-Light.woff2");
}

body {
  background-color: #28292b;
  color: #ff0046;
  font-family: "Neuville-Light", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Neuville-Bold", sans-serif;
  font-size: 8rem;
  letter-spacing: -5px;
}

h2,
h3,
h4 {
  letter-spacing: 5px;
}

h3 {
  font-size: 3rem;
}

p {
  color: #f6f6f6;
}

.navbar-toggler {
  background-color: transparent;
}

.colour-change {
  color: #ff0046;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.colour-change:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .show > .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff0046;
}

a {
  position: relative;
  color: #ff0046;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 20;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #f6f6f6;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.home-section-row {
  height: calc(90vh / 2);
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .home-section-row {
    height: calc(80vh / 2);
  }
}

section {
  height: 90vh;
}

.containerHeadline {
  color: #ff0046;
  font-family: "Neuville-Bold", sans-serif;
  text-transform: uppercase;
  position: relative;
}

h3.containerHeadline:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #f6f6f6;
}

.imageContainer {
  width: 300px;
  -webkit-box-shadow: 0 8px 27px 0 rgba(18, 18, 18, 0.37);
          box-shadow: 0 8px 27px 0 rgba(18, 18, 18, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px 40px;
}

.imageContainer img {
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  border-radius: 100px 40px;
}

[data-filter] {
  display: inline-block;
  background: hotpink;
  color: green;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 1rem;
}

[data-filter] + [data-filter] {
  margin-left: 5px;
}

[data-tags] {
  width: 250px;
  text-align: center;
  line-height: 100px;
  display: inline-block;
  background: olivedrab;
  color: darkred;
  margin: 1rem 1rem 1rem 0;
  border-radius: 5px;
}
