/* 
- imported items
- variables
- shared styles
- section specific styling...

*/
@font-face {
  font-family: GroteskRegular;
  src: url("../assets/fonts/HKGrotesk-Black.otf");
}
@font-face {
  font-family: GroteskLight;
  src: url("../assets/fonts/HKGrotesk-Light.otf");
}

:root {
  --primaryOrange: rgb(222, 97, 54); /* #ff9469  */
  --primaryPink: rgb(243, 159, 195); /* ffd2f6 , dk f39fc3*/
  --primaryBlue: rgb(97, 215, 221); /* 94ffff */
  --primaryPurple: rgb(73, 91, 178); /*495bb2*/
  --white: rgb(248, 248, 248);
  --black: rgb(14, 14, 14);
  --fontMain: "GroteskRegular", "serif";
  --fontLight: "GroteskLight", "serif";
}
/* SHARED STYLES */
.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.displayFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.artGridDotsDark {
  background-image: radial-gradient(var(--white) 25%, transparent 10%);
  background-size: 35px 35px;
  background-color: transparent;
}
.artGridDotsLight {
  background-image: radial-gradient(var(--black) 25%, transparent 10%);
  background-size: 35px 35px;
  background-color: transparent;
}
.artGridLine {
  /* set height width specific to where it is displayed on the screen*/
  background-color: var(--white);
  box-sizing: border-box;
  background-size: 100px 100px;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 48px,
      var(--black) 48px,
      var(--black) 50px
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent 48px,
      var(--black) 48px,
      var(--black) 50px
    );
  border-bottom: 2px solid var(--black);
  border-right: 2px solid var(--black);
}
.artHalfCircle {
  width: 150px;
  height: 150px;
  border-top: 3px solid var(--black);
  border-left: 3px solid var(--black);
  background: var(--primaryBlue);
  border-radius: 190px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* scroll snapping start */
/* .scrollContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
} */
/* scroll snapping end */
/*  */
/*  */
.projectSection {
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 80px;
  background-color: var(--black);
}
.projectGridBlue {
  height: 60vh;
  width: 100%;
  background-color: var(--primaryBlue);
}
.projectSection h2 {
  text-align: center;
  background-color: var(--white);
  padding: 40px 70px;
  border: 2px solid var(--black);
}
.projectGridContainer {
  margin-top: -440px;
  display: grid;
  grid-template-columns: 80px 1fr 1fr 80px;
  grid-template-rows: 1fr repeat(auto-fill, 250px);
  gap: 20px 0px;
  grid-template-areas:
    "projectsHeader projectsHeader projectsHeader projectsHeader"
    ". projectOneImage projectOneText ."
    ". projectTwoText projectTwoImage ."
    ". projectThreeImage projectThreeText ."
    ". projectFourText projectFourImage ."
    ". projectFiveImage projectFiveText .";
}
.projectImageContainer {
  width: 350px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
.projectImageContainer img {
  width: 100%;
}
.projectTextContainer {
  padding: 40px 40px 0 20px;
}
.projectTextContainerRight {
  padding: 40px 20px 0 40px;
}
.projectTextContainer h3 {
  font-size: 1.4rem;
  padding-bottom: 5px;
}
.projectLanguages {
  padding-bottom: 10px;
  font-family: var(--fontMain);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
}
.projectSocials {
  padding-top: 15px;
  justify-content: space-around;
}
.rightAlign {
  text-align: right;
}
.projectArea {
  grid-area: 2 / 2 / 7 / 4;
  background-color: var(--white);
  border: 2px solid var(--black);
  box-shadow: 15px 15px var(--primaryPink), 17px 13px var(--black),
    17px 17px var(--black), 12px 17px var(--black);
}
.projectsHeader {
  grid-area: projectsHeader;
}
.projectOneImage {
  grid-area: projectOneImage;
}
.projectOneText {
  grid-area: projectOneText;
}
.projectTwoImage {
  grid-area: projectTwoImage;
}
.projectTwoText {
  grid-area: projectTwoText;
}
.projectThreeImage {
  grid-area: projectThreeImage;
}
.projectFourText {
  grid-area: projectFourText;
}
.projectThreeText {
  grid-area: projectThreeText;
}
.projectFourImage {
  grid-area: projectFourImage;
}
.projectFiveText {
  grid-area: projectFiveText;
}
.projectFiveImage {
  grid-area: projectFiveImage;
}

/*  */
/*  */
/*  */
.contactSection {
  padding: 100px 0;
  background-color: var(--black);
}
.contactGridContainer {
  height: 60vh;
  display: grid;
  grid-template-columns: 2fr 0.2fr 0.8fr 0.8fr 0.2fr;
  grid-template-rows: 0.4fr 0.4fr 0.9fr 0.1fr;
  gap: 20px 20px;
}

.contactForm {
  background-color: var(--primaryPink);
  margin-top: 40px;
  grid-area: 1 / 1 / 4 / 2;
}

.contactInfo {
  z-index: 1;
  background-color: var(--white);
  border: 2px solid var(--black);
  box-shadow: -15px -15px var(--white), -17px -13px var(--black),
    -17px -17px var(--black), -12px -17px var(--black);
  grid-area: 2 / 3 / 5 / 5;
}
.contactDotsLight {
  grid-area: 1 / 4 / 3 / 6;
}
.contactGridOrange {
  margin-top: -200px;
  margin-left: 50vw;
  height: 300px;
  background-color: var(--primaryOrange);
}
.blackLine {
  z-index: 100;
  width: 300px;
  height: 5px;
  background-color: yellowgreen;
  border: 4px solid palevioletred;
}
