.navbar-toggler {
  background-color: transparent;
}

.fa-exchange-alt {
  color: #ff0046;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fa-exchange-alt:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ff0046;
}

a {
  position: relative;
  color: #ff0046;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 20;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #f6f6f6;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

h1 {
  font-family: "Neuville-Bold", sans-serif;
  font-size: 8rem;
  letter-spacing: -5px;
}

.home-section-row {
  height: calc(90vh / 2);
}

h2 {
  letter-spacing: 5px;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .home-section-row {
    height: calc(80vh / 2);
  }
}

.isolde-default {
  position: relative;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: height 0.2s ease-out, opacity 0.2s ease-out 0.2s;
  transition: height 0.2s ease-out, opacity 0.2s ease-out 0.2s;
}

[data-isolde-el] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

@font-face {
  font-family: "Neuville-Bold";
  src: url("../assets/fonts/Neuville-Bold.woff"), url("../assets/fonts/Neuville-Bold.woff2");
}

@font-face {
  font-family: "Neuville-Light";
  src: url("../assets/fonts/Neuville-Light.woff"), url("../assets/fonts/Neuville-Light.woff2");
}

body {
  background-color: #28292b;
  color: #ff0046;
  font-family: "Neuville-Light", sans-serif;
  font-size: 1rem;
}
