@font-face {
  font-family: "Neuville-Bold";
  src: url("../assets/fonts/Neuville-Bold.woff"), url("../assets/fonts/Neuville-Bold.woff2");
}

@font-face {
  font-family: "Neuville-Light";
  src: url("../assets/fonts/Neuville-Light.woff"), url("../assets/fonts/Neuville-Light.woff2");
}

body {
  background-color: #28292b;
  color: #ff0046;
  font-family: "Neuville-Light", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Neuville-Bold", sans-serif;
  font-size: 8rem;
  letter-spacing: -5px;
}

h2,
h3,
h4 {
  letter-spacing: 5px;
}

h3 {
  font-size: 3rem;
}

p {
  color: #f6f6f6;
}

.navbar-toggler {
  background-color: transparent;
}

.fa-icon {
  color: #ff0046;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fa-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .show > .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff0046;
}

nav a {
  position: relative;
  color: #ff0046;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 20;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #f6f6f6;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a:hover:after {
  width: 100%;
  left: 0;
}

.home-section-row {
  height: calc(90vh / 2);
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .home-section-row {
    height: calc(80vh / 2);
  }
}

section {
  height: 90vh;
}

.containerHeadline {
  color: #ff0046;
  font-family: "Neuville-Bold", sans-serif;
  text-transform: uppercase;
  position: relative;
}

h3.containerHeadline:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #f6f6f6;
}

.imageContainer {
  width: 300px;
  -webkit-box-shadow: 0 8px 27px 0 rgba(18, 18, 18, 0.37);
          box-shadow: 0 8px 27px 0 rgba(18, 18, 18, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px 40px;
}

.imageContainer img {
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  border-radius: 100px 40px;
}

.portfolio-container p {
  display: inline;
}

[data-filter] {
  display: inline-block;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.25);
  color: #f6f6f6;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

[data-filter]:hover {
  background: rgba(255, 255, 255, 0.5);
}

.card-text {
  color: #121212 !important;
}

.card-body {
  background-color: #f6f6f6;
}

.card-img-top {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-img-top-hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

label {
  color: #f6f6f6;
}

form .btn {
  font-size: 1.3rem;
  background-color: #ff0046;
  color: #28292b;
  opacity: 0.85;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

form .btn:hover {
  opacity: 1;
}

.contactSocials .fa-icon {
  font-size: 3rem;
}

[aria-labelledby="contact-tab"] p {
  font-size: 2rem;
}

.down-enter-active {
  -webkit-animation: 1s down-enter;
          animation: 1s down-enter;
}

.down-leave-active {
  -webkit-animation: 1s down-leave;
          animation: 1s down-leave;
}

@-webkit-keyframes down-enter {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
}

@keyframes down-enter {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
}

@-webkit-keyframes down-leave {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
}

@keyframes down-leave {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  100% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
}
