:root {
  --primaryOrange: rgb(222, 97, 54, 1);
  --primaryPink: rgb(243, 199, 195);
  --primaryBlue: rgb(97, 215, 221);
  --primaryPurple: rgb(73, 91, 178);
  --white: rgb(236, 236, 236);
  --black: rgb(14, 14, 14);
}
body {
  color: rgba(222, 97, 54, 1);
}
